ATLAS_URI="mongodb+srv://sid:REDACTED@capstone.xydgfjo.mongodb.net/?retryWrites=true&w=majority&appName=capstone"
ALLOWED_DB="capstone"
ALLOWED_COLLECTIONS='["events"]'
EVENT_COLLECTION="events"
API_KEY="replace-with-strong-secret"
